.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleCell {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: 1px solid #000;
}

.flame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 390px;
  background-color: #999;
  border: 4px outset #aaa;
}

.horizontalFlame {
  width: 10px;
  height: 270px;
  background-color: #999;
  border: 4px outset #aaa;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: #000;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #999;
  border: 4px outset #aaa;
}

.openCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #999;
  border: 1px solid #000;
}
