.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.5rem;
}

.sampleCell {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: 1px solid #000;
}

.flame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 390px;
  background-color: #999;
  border: 4px outset #aaa;
}

.horizontalFlame {
  width: 270px;
  height: 15px;
  background-color: #999;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 278px;
  height: 60px;
  background-color: #999;
  border: 4px inset #aaa;
}

.flagCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px; /* 57 */
  height: 42px; /* 36 */
  border: 3px inset #aaa;
}

.degitalNumber {
  width: 19px;
  height: 36px;
  background: url('~/src/assets/images/minesweeperDezitalNumber.png') no-repeat;
  background-color: #c6c6c6;
  background-size: 190px 36px;
}

.space {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 90px;
  background-color: #999;
}

.infoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #fff;
  border: 6px outset #aaa;
}

.infoButton:active {
  border-style: inset;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 42px;
  background: url('~/src/assets/images/minesweeperDezitalNumber.png') no-repeat;
  background-color: aquamarine;
  background-size: auto 100%;
  border: 3px inset #aaa;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 278px;
  height: 278px;
  background-color: #000;
  border: 4px inset #aaa;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #999;
}

.openCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #999;
  border: 1px solid #000;
}

.customSettings {
  width: auto;
  height: auto;
}

.displayContainer {
  display: flex; /* 数字を横並びにする */
  padding: 4px;
  background-color: #333; /* デジタル数字らしい黒い背景 */
  background-size: auto 100%;
  border: 2px inset #aaa;
}

.digit {
  width: 21px; /* デジタル数字1個分の画像の幅 */
  height: 39px; /* デジタル数字1個分の画像の高さ */
  background-image: url('/assets/images/minesweeperDezitalNumber.png'); /* publicフォルダからのパス */
  background-repeat: no-repeat;
  background-size: 231px 39px;
}
